table{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.orderitems-header{
    border: 1px solid rgb(253, 253, 253);
    background-color: rgb(5, 199, 199);
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}
.item-category{
    background-color: rgb(221, 213, 213);
}
.item-details{

}