.email-validate-true{
  visibility: hidden;
  height: 0.1rem;
}
.email-validate-false{
    color: red;
    height: 0.1rem;
}
.form-container{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-content: center;
    margin: 10rem;
    border-style: solid;
    border-width: 0.1rem;
    padding:10%;
    width: 12rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.form-element{
    display: flex;
    justify-content: space-between;
}

