.rendercards{
display: flex;
align-content: stretch;
flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 20rem) {
    .rendercards{
        flex-direction: column;
        align-content: stretch;
    }
}