@import '../../styles//index.scss';

.rendercards{
display: flex;
align-content: stretch;
flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 20rem) {
    .rendercards{
        flex-direction: column;
        align-content: stretch;
    }
}
.darkTheme{
background-color: $theme-color-dark;
}
.lightTheme{
    background-color: $theme-color-light;
    }